@font-face {
  font-family: Helvetica Neue;
  src: url("../assets/fonts/HelveticaNeue.ttf");
}

@font-face {
  font-family: Helvetica Neue;
  font-weight: bold;
  src: url("../assets/fonts/HelveticaNeue-Bold.ttf");
}

@font-face {
  font-family: Helvetica Neue;
  font-style: italic;
  src: url("../assets/fonts/HelveticaNeue-Italic.ttf");
}

@font-face {
  font-family: Helvetica Neue;
  font-style: italic;
  font-weight: bold;
  src: url("../assets/fonts/HelveticaNeue-BoldItalic.ttf");
}

@font-face {
  font-family: HelveticaNeue-CondensedBold;
  src: url("../assets/fonts/HelveticaNeue-CondensedBold.ttf");
}
