@import '@bpi/shared-components/src/stylesheets/variables.scss';

$footer-height: 68px;
$sidebar-primary-width: 582px;
$sidebar-secondary-width: 360px;
$main-width: 600px;

$logo-width: 172px;
$logo-height: auto;

$picto-margin: 32px 0px;
$picto-height: auto;

$close-image-size: 32px;
$close-image-size-mobile: 24px;
